/*Bonus:  fino ai 1160px il layout è un po’ troppo “rigido”
Aggiungiamo una media query per sistemare il layout e non far comparire la scrollbar orizzontale.*/
@media (max-width: 1160px){
    .container{
        max-width: 1160px;
    }
}

/*Tablet dai 768px in giù*/

@media (max-width: 768px){
    .container{
        max-width: 768px;
    }
}


/*Mobile dai 576px in giù*/

@media (max-width: 576px){
    .container{
        max-width: 576px;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
}